/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading {
  color: #0f172a;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster';
  margin-bottom: 48px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.repositories-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  max-width: 1140px;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  width: 150px;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .failure-img {
    width: 450px;
    height: 350px;
  }
}

.error-text {
  color: #1e293b;
  font-size: 15px;
  font-family: 'Roboto';
  text-align: center;
}

@media screen and (min-width: 768px) {
  .error-text {
    font-size: 30px;
  }
}
